.about-us__heading {
  margin: 0;
  font-size: 25px;
  font-weight: 700;
  color: #000000;
}
.about-us__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.about-us__item {
  line-height: 20px;
  font-weight: 700;
  color: #000000;
}
