.about-us {
  margin-bottom: 31px;

  @media (min-width: $desktop-width) {
    margin-bottom: 35px;
  }
}

.about-us__heading {
  margin-top: 0;
  margin-bottom: 25px;
  font-size: $heading-fontsize-m1;
  font-weight: $bold;
  color: $color-text-head;

  @media (min-width: $tablet-width) {
    margin-bottom: 41px;
    font-size: $heading-fontsize-l2;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 39px;
    font-size: $heading-fontsize-l3;
    line-height: 57px;
  }
}

.about-us__list {
  @include list-reset;
  margin-top: 0;
  margin-bottom: 0;

  @media (min-width: $tablet-width) {
    column-count: 2;
    column-width: 50% 50%;
  }

  @media (min-width: $desktop-width) {
    column-count: 2;
    column-width: 50% 50%;
  }
}

.about-us__item {
  position: relative;
  padding-top: 56px;
  padding-bottom: 27px;
  line-height: 20px;
  font-weight: $bold;
  color: $color-text-head;

  @media (min-width: $tablet-width) {
    padding-bottom: 52px;
    font-size: $heading-fontsize-s2;
    line-height: 22px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 54px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  &--ecology {
    &::before {
      left: 8px;
      width: 33px;
      height: 38px;
      background-image: url("../../img/about-us-ecology.svg");
    }
  }

  &--style {
    &::before {
      left: 0;
      width: 47px;
      height: 27px;
      background-image: url("../../img/about-us-style.svg");
    }
  }

  &--likes {
    &::before {
      left: 7px;
      width: 34px;
      height: 27px;
      background-image: url("../../img/about-us-likes.svg");
    }
  }

  &--love {
    &::before {
      left: 3px;
      width: 35px;
      height: 34px;
      background-image: url("../../img/about-us-love.svg");
    }
  }

  &--support {
    &::before {
      left: -6px;
      width: 55px;
      height: 23px;
      background-image: url("../../img/about-us-support.svg");
    }
  }

  &--wrap {
    &::before {
      left: 3px;
      width: 33px;
      height: 32px;
      background-image: url("../../img/about-us-wrap.svg");
    }
  }
}
