.button {
  display: block;
  font-size: $heading-fontsize-s1;
  line-height: 48px;
  font-weight: $bold;
  text-align: center;
  text-transform: uppercase;
  color: $color-text-general;
  background-color: transparent;
  border: 2px solid $color-text-general;
}
