.button {
  display: block;
  padding: 0;
  font-weight: $bold;
  font-size: $heading-fontsize-s1;
  line-height: 48px;
  text-transform: uppercase;
  text-align: center;
  color: $color-text-general;
  border: 2px solid $color-text-general;
  background-color: transparent;

  &:hover,
  &:focus {
    color: $color-origin;
    background-color: $color-text-general;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: $color-text-general;
    outline: none;
  }
}
