$color-text-head: #000000;
$color-text-general: #444444;
$color-main1: #63d1bb;
$color-main2: #56c3b2;
$color-decor1: #62d1ba;
$color-origin: #ffffff;
$color-decor2: #b39797;
$color-bg: #f1f1f1;
$color-shadow: #ececec;
