.container {
  margin: 0 auto;
  padding-right: 30px;
  padding-left: 30px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding-right: 50px;
    padding-left: 50px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 50px;
    padding-left: 50px;
  }
}
