@media (min-width: $desktop-width) {
  .extra-list {
    @include list-reset;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 20px;
    padding-left: 50px;

    &--bg-color {
      @media (min-width: $desktop-width) {
        background-color: $color-bg;
      }
    }
  }

  .extra-list__item {
    margin-right: 60px;
    line-height: 24px;
  }

  .extra-list__link {
    font-size: $text-fontsize-1;
    line-height: 24px;
    font-weight: $bold;
    color: $color-text-head;
  }
}
