@media (min-width: $desktop-width) {
  .extra-list {
    @include list-reset;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 50px;
  }

  .extra-list__item {
    margin-right: 62px;
    line-height: 24px;
  }

  .extra-list__link {
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: $text-fontsize-1;
    line-height: 24px;
    font-weight: $bold;
    color: $color-text-head;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}
