.footer-logo {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }

  &:hover {
    fill: $color-footer;
  }

  &:active {
    fill: $color-footer;
    opacity: 0.3;
  }
}

.footer-logo__underline {
  @media (min-width: 768px) {
    display: none;
  }
}
