.form__intro {
  font-size: 13px;
  line-height: 24px;
}

.form__item {
  border-top: 1px solid $color-decor1;
  border-right: none;
  border-bottom: none;
  border-left: none;
}

.form__heading {
  line-height: 16px;
  font-weight: $bold;
  text-transform: uppercase;
  color: $color-main1;
}

.form__label,
.form__label-top {
  line-height: 18px;
  font-weight: $bold;
  color: $color-text-head;
}

.form__field::placeholder {
  font-size: 17px;
  line-height: 18px;
  color: $color-text-head;
  opacity: 0.3;
}

.form__field-comment {
  resize: none;
}

.form__note {
  font-size: 14px;
  line-height: 16px;
}

.form__button {
  background-color: transparent;
}
