.form {
  padding: 17px 30px 55px 30px;

  @media (min-width: $tablet-width) {
    padding: 54px 0 50px 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 98.5px;
  }
}

.form__intro {
  margin-top: 0;
  margin-bottom: 37px;
  font-size: 13px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    margin-bottom: 37px;
    padding-right: 50px;
    padding-left: 50px;
    font-size: $text-fontsize-2;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 40px;
    padding-right: 240px;
    padding-left: 225px;
  }
}

.form__item {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  border-top: 1px solid $color-decor1;
  border-right: none;
  border-bottom: none;
  border-left: none;

  @media (min-width: $tablet-width) {
    padding-right: 50px;
    padding-left: 217px;
    border-top: none;
  }

  @media (min-width: $desktop-width) {
    padding-right: 225px;
    padding-left: 225px;
  }

  &--type {
    padding-top: 37px;
    padding-bottom: 28px;

    @media (min-width: $tablet-width) {
      padding-top: 28px;
      padding-bottom: 26px;
    }

    @media (min-width: $desktop-width) {
      padding-top: 25px;
      padding-bottom: 25px;
    }
  }

  &--color {
    padding-top: 32px;
    padding-bottom: 18px;

    @media (min-width: $tablet-width) {
      display: grid;
      grid-template-columns: 261px 1fr;
      padding-top: 51px;
      padding-bottom: 28px;
      background-color: $color-bg;
    }

    @media (min-width: $desktop-width) {
      display: grid;
      grid-template-columns: 262px 263px 1fr;
      padding-top: 49px;
      padding-right: 50px;
    }
  }

  &--name {
    padding-top: 38px;
    padding-bottom: 17px;

    @media (min-width: $tablet-width) {
      padding-top: 50px;
      padding-bottom: 23px;
    }

    @media (min-width: $desktop-width) {
      padding-top: 52px;
    }
  }

  &--tel {
    padding-top: 12px;
    padding-bottom: 43px;

    @media (min-width: $tablet-width) {
      padding-top: 49px;
      padding-bottom: 0;
      background-color: $color-bg;
    }
  }

  &--mail {
    padding-top: 12px;
    padding-bottom: 42px;

    @media (min-width: $tablet-width) {
      padding-top: 25px;
      padding-bottom: 50px;
      background-color: $color-bg;
    }
  }

  &--comment {
    margin-bottom: 17px;
    padding-top: 30px;

    @media (min-width: $tablet-width) {
      margin-bottom: 54px;
      padding-top: 50px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 49px;
    }
  }
}

.form__heading {
  position: absolute;
  top: -8px;
  padding-right: 22px;
  line-height: 16px;
  font-weight: $bold;
  text-transform: uppercase;
  color: $color-main1;
  background-color: $color-origin;

  @media (min-width: $tablet-width) {
    left: 50px;
    background-color: transparent;
  }

  @media (min-width: $desktop-width) {
    left: 112px;
  }

  &--type {
    @media (min-width: $tablet-width) {
      top: 45px;
    }

    @media (min-width: $desktop-width) {
      top: 43px;
    }
  }

  &--color {
    @media (min-width: $tablet-width) {
      top: 66px;
    }

    @media (min-width: $desktop-width) {
      top: 67px;
    }
  }

  &--name {
    @media (min-width: $tablet-width) {
      top: 67px;
    }

    @media (min-width: $desktop-width) {
      top: 68px;
    }
  }

  &--tel {
    @media (min-width: $tablet-width) {
      top: 65px;
    }
  }

  &--mail {
    @media (min-width: $tablet-width) {
      top: 43px;
    }
  }

  &--comment {
    @media (min-width: $tablet-width) {
      top: 70px;
    }
  }
}

.form__label {
  line-height: 18px;
  font-weight: $bold;
  color: $color-text-head;

  @media (min-width: $tablet-width) {
    font-size: 19px;
  }

  &--type {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 13px;

    @media (min-width: $tablet-width) {
      margin-bottom: 25px;
      margin-left: 2px;
    }

    &::before {
      content: "";
      flex-shrink: 0;
      width: 36px;
      height: 36px;
      margin-right: 19px;
      border-radius: 50%;
      border: solid 2px $color-text-general;

      @media (min-width: $tablet-width) {
        width: 46px;
        height: 46px;
        margin-right: 26px;
      }

      @media (min-width: $desktop-width) {
        margin-right: 28px;
      }
    }
  }

  &--color {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 23px;

    &::before {
      content: "";
      width: 34px;
      height: 34px;
      margin-right: 23px;
      border: solid 2px $color-text-general;

      @media (min-width: $tablet-width) {
        width: 48px;
        height: 48px;
        margin-right: 30px;
      }
    }
  }

  &--name {
    @media (min-width: $tablet-width) {
      margin-right: 25px;
      border-bottom: solid 2px transparent;
    }
  }
}

input:checked + .form__label--type::after {
  content: "";
  position: absolute;
  top: 12px;
  left: 12px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: $color-decor1;

  @media (min-width: $tablet-width) {
    top: 15px;
    left: 15px;
    width: 20px;
    height: 20px;
  }
}

input:checked + .form__label--color::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  width: 18px;
  height: 8px;
  border-left: solid 2px $color-text-general;
  border-bottom: solid 2px $color-text-general;
  transform: rotate(-45deg);

  @media (min-width: $tablet-width) {
    top: 14px;
    left: 12px;
    width: 28px;
    height: 13px;
  }
}

.form__field {
  padding: 0;
  color: $color-text-general;

  &::placeholder {
    font-size: $text-fontsize-2;
    color: $color-text-head;
    opacity: 0.3;

    @media (min-width: $tablet-width) {
      font-size: 19px;
    }
  }

  &--name {
    line-height: 48px;
    border-top: none;
    border-right: none;
    border-bottom: solid 2px $color-text-general;
    border-left: none;
    background-color: transparent;

    @media (min-width: $tablet-width) {
      flex-grow: 1;
      padding-left: 18px;
    }
  }

  &--tel,
  &--mail {
    line-height: 50px;
    border-top: none;
    border-right: none;
    border-bottom: solid 2px $color-text-general;
    border-left: none;
    background-color: transparent;

    @media (min-width: $tablet-width) {
      padding-left: 18px;
    }
  }

  &--comment {
    min-height: 108px;
    padding: 15px;
    line-height: 19px;
    resize: none;
    border: solid 2px $color-text-general;
  }
}

.form__name-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    align-items: center;
    margin-bottom: 27px;
  }
}

.form__icon {
  position: absolute;
  fill: rgba(0, 0, 0, 0.2);

  &--tel {
    top: 23px;
    right: 7px;

    @media (min-width: $tablet-width) {
      top: 61px;
      right: 76px;
    }

    @media (min-width: $desktop-width) {
      right: 233px;
    }
  }

  &--mail {
    top: 28px;
    right: 3px;

    @media (min-width: $tablet-width) {
      top: 41px;
      right: 72px;
    }

    @media (min-width: $desktop-width) {
      right: 229px;
    }
  }
}

.form__field--tel:hover + .form__icon--tel,
.form__field--tel:active + .form__icon--tel,
.form__field--mail:hover + .form__icon--mail,
.form__field--mail:active + .form__icon--mail {
  fill: $color-decor1;
}

.form__end {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 50px;
    padding-left: 50px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 225px;
    padding-left: 225px;
  }
}

.form__note {
  margin-top: 0;
  margin-bottom: 31px;
  font-size: 14px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    font-size: $text-fontsize-2;
    line-height: 30px;
  }
}

.form__button {
  font-size: $text-fontsize-2;

  @media (min-width: $tablet-width) {
    order: -1;
    width: 230px;
  }
}

.form__field:hover,
.form__field:active {
  border-color: $color-decor1;
}

.form__label--type,
.form__label--color {
  &:hover::before {
    border-color: $color-decor1;
  }

  &:active::before {
    border-color: rgba(0, 0, 0, 0.3);
  }
}

.form__field--type:focus + .form__label--type::before,
.form__field--color:focus + .form__label--color::before {
  border-color: $color-decor1;
}

.form__field--type:disabled + .form__label--type::before,
.form__field--color:disabled + .form__label--color::before {
  border-color: $color-decor4;
  background-color: $color-decor4;
}
