.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 79px;

  @media (min-width: $tablet-width) {
    justify-content: flex-start;
    height: 100%;
    padding-left: 50px;
  }

  @media (min-width: $desktop-width) {
    justify-content: center;
    padding-left: 0;
  }
}

.header-logo img {
  @media (min-width: $tablet-width) {
    width: 113px;
    height: 46px;
  }

  @media (min-width: $desktop-width) {
    width: 149px;
    height: 72px;
  }
}
