.main-header {
  background-image: url("../../img/hero-mobile.png");
  background-repeat: no-repeat;
  background-position: center top;
}

.main-header--bg-color {
  display: flex;
  justify-content: center;
  margin-bottom: 17px;
  padding-top: 73px;
  padding-bottom: 73px;
  background-color: $color-bg;
  background-image: none;

  @media (min-width: $tablet-width) {
    margin-bottom: 54px;
    padding-top: 56px;
    padding-bottom: 58px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 98px;
    padding-top: 57px;
    padding-bottom: 55px;
  }
}

.main-header__wrapper {
  display: flex;
  justify-content: center;
  padding-top: 73px;
  padding-bottom: 120px;
}

.main-header__heading {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: $bold;
  font-size: $heading-fontsize-l1;
  line-height: 30px;
  text-align: center;
  color: $color-text-head;

  @media (min-width: $tablet-width) {
    width: 500px;
    font-size: $heading-fontsize-l2;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    width: 700px;
    font-size: $heading-fontsize-l3;
    line-height: 57px;
  }
}
