.main-header {
  background-image: url("../../img/hero-mobile.png");
  background-repeat: no-repeat;
  background-position: center top;
}

.main-header--wider {
  background-color: $color-bg;
}

.main-header__heading {
  font-weight: $bold;
  font-size: $heading-fontsize-l1;
  line-height: 30px;
}
