.main-header {
  background-image: url("../../img/hero-mobile.jpg");
  background-repeat: no-repeat;
  background-position: top -18px center;
  background-size: 568px auto;

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/hero-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    margin-top: -67px;
    background-position: top center;
    background-image: url("../../img/hero-desktop.jpg");
    background-size: 1150px auto;


    @media (min-resolution: 2dppx) {
      background-image: url("../../img/hero-desktop@2x.jpg");
    }
  }
}

.main-header--bg-color {
  display: flex;
  justify-content: center;
  margin-bottom: 17px;
  padding-top: 73px;
  padding-bottom: 73px;
  background-color: $color-bg;
  background-image: none;

  @media (min-width: $tablet-width) {
    margin-bottom: 54px;
    padding-top: 56px;
    padding-bottom: 58px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 98px;
    padding-top: 57px;
    padding-bottom: 55px;
  }
}

.main-header__wrapper {
  display: flex;
  justify-content: center;
}

.main-header__heading {
  margin-top: 73px;
  margin-bottom: 120px;
  font-weight: $bold;
  font-size: $heading-fontsize-l1;
  line-height: 30px;
  text-align: center;
  color: $color-text-head;

  @media (min-width: $tablet-width) {
    width: 500px;
    margin-top: 156px;
    margin-bottom: 372px;
    font-size: $heading-fontsize-l2;
    line-height: 50px;
    text-indent: -10px;
  }

  @media (min-width: $desktop-width) {
    width: 700px;
    margin-top: 160px;
    margin-bottom: 355px;
    font-size: $heading-fontsize-l3;
    line-height: 57px;
    text-indent: 0;
  }
}
