.menu {
  @include list-reset;
}

.menu__link {
  font-size: 19px;
  line-height: 24px;
  font-weight: $bold;
  color: $white;
  &--interior {
    background-color: $mint;
  }
  &--toys {
    background-color: $dark-mint;
  }
}
