.menu {
  @include list-reset;
  margin-top: 0;
  margin-bottom: 31px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 40px;
    padding-right: 50px;
    padding-left: 50px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr;
    margin-bottom: 54px;
    padding-right: 50px;
    padding-left: 50px;
  }
}

.menu__link {
  position: relative;
  display: block;
  padding: 24px 30px 31px 30px;
  font-size: 19px;
  line-height: 24px;
  font-weight: $bold;
  color: $color-origin;

  &--interior {
    background-color: $color-main1;

    &::after {
      top: 23px;
      right: 36px;
      width: 40px;
      height: 62px;
      background-image: url("../../img/menu-interior.svg");

      @media (min-width: $tablet-width) {
        top: 30px;
        width: 41px;
      }
    }
  }

  &--toys {
    background-color: $color-main2;

    &::after {
      top: 21px;
      right: 27px;
      width: 60px;
      height: 60px;
      background-image: url("../../img/menu-toy.svg");

      @media (min-width: $tablet-width) {
        top: 31px;
        right: 33px;
        width: 61px;
        height: 61px;
      }

      @media (min-width: $desktop-width) {
        right: 35px;
        width: 60px;
      }
    }
  }

  @media (min-width: $tablet-width) {
    padding: 25px 36px 22px 36px;
    font-size: $heading-fontsize-s2;
    line-height: 30px;
  }

  &::after {
    content: "";
    position: absolute;
  }
}
