.menu {
  @include list-reset;
}

.menu__link {
  font-size: 19px;
  line-height: 24px;
  font-weight: $bold;
  color: $color-origin;

  &--interior {
    background-color: $color-main1;
  }

  &--toys {
    background-color: $color-main2;
  }
}
