.modal__heading {
  font-size: $heading-fontsize-m1;
  font-weight: $bold;
  text-transform: uppercase;
  color: $color-text-head;
}

.modal__description {
  font-size: $text-fontsize-1;
}

.modal__label {
  font-size: $text-fontsize-2;
  line-height: 16px;
  font-weight: $bold;
  text-transform: uppercase;
  border: 2px solid $color-decor2;
}

.modal__button {
  color: $color-origin;
  background-color: $color-main1;
  border: none;
}
