.modal__heading {
  margin: 0;
  font-size: 25px;
  font-weight: 700;
  color: #000000;
}
.modal__description {
  margin: 0;
  font-size: 15px;
}
.modal__label {
  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  text-transform: uppercase;
}
.modal__button {
  padding: 0;
  color: #000000;
  background-color: #63d1bb;
  border: none;
}
