.page-footer {
  background-color: $color-bg;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 24px;
  padding-bottom: 24px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 51px;
    padding-bottom: 58px;
  }
}

.page-footer__socials {
  margin-top: 0;
  margin-bottom: 0;
}

.page-footer__copyright {
  margin-top: 21px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
  }

  @media (min-width: $desktop-width) {
    margin-top: -3px;
  }
}
