.page-footer {
  background-color: $color-bg;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 24px;
  padding-bottom: 23px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 51px;
    padding-bottom: 58px;
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 57px;
  }
}

.socials__link {
  line-height: 0;
}
