
// .page-header {
//   @media (min-width: $desktop-width) {
//     width: $desktop-width;
//   }
// }

.page-header__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 398px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 480px 1fr 400px;
  }
}

.page-header__logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 78px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);

  @media (min-width: $tablet-width) {
    grid-column: 1/2;
    justify-content: flex-start;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/3;
  }
}

.page-header__nav {
  display: contents;
}

.page-header__nav-toggle {
  position: absolute;
  top: 32px;
  right: 31px;
  display: block;
  width: 20px;
  height: 14px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.page-header__nav--closed .page-header__nav-toggle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 2px;
  background-color: $color-text-head;
  box-shadow: 0 6px 0 0 $color-text-head, 0 12px 0 0 $color-text-head;
}

.page-header__nav--opened .page-header__nav-toggle {
  width: 21px;
  height: 20px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 26px;
    height: 2px;
    top: 6px;
    left: -2px;
    background-color: $color-text-head;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.page-header__nav--nojs .page-header__nav-toggle {
  display: none;
}

.page-header__nav-site {
  @media (min-width: $tablet-width) {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}

.page-header__nav-extra {
  @media (max-width: $desktop-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/3;
    grid-row: 2/3;
  }
}

.page-header__nav-user {
  @media (min-width: $tablet-width) {
    grid-column: 2/3;
  }

  @media (min-width: $desktop-width) {
    grid-column: 3/4;
  }
}

.page-header__note {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    margin: 19px 50px 0 10px;
    font-size: $text-fontsize-1;
    line-height: 24px;
    text-align: end;
    color: $color-text-head;
  }

  @media (min-width: $tablet-width) {
    margin-top: 20px;
  }

  &--bg-color {
    background-color: $color-bg;
  }
}

.page-header__nav--closed .page-header__nav-site {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
  }

  @media (min-width: $desktop-width) {
    display: grid;
  }
}

.page-header__nav--closed .page-header__nav-user {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.page-header__nav--nojs .page-header__nav-site {
  display: block;

  @media (min-width: $tablet-width) {
    display: flex;
  }

  @media (min-width: $desktop-width) {
    display: grid;
  }
}


.page-header__nav--nojs .page-header__nav-user {
  display: block;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}
