.products {
  @media (min-width: $desktop-width) {
    margin-bottom: 57px;
  }
}

.products__list {
  @include list-reset;
  margin-top: 30px;
  margin-bottom: 0;

  @media (min-width: $tablet-width) {
    margin-top: 67px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 52px;
    margin-top: 111px;
  }
}

.products__item {
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}
