.product-card {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
  }

  &:hover .product-card__info {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active .product-card__info {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }
}

.product-card__img-wrapper {
  display: flex;
  justify-content: center;
}

.product-card__img {
  display: block;
  width: 260px;
  height: 195px;

  @media (min-width: $tablet-width) {
    width: 334px;
    height: 334px;
  }

  @media (min-width: $desktop-width) {
    width: 316px;
    height: 462px;
  }
}

.product-card__info {
  display: flex;
  flex-direction: column;
  padding: 27.5px 27px 25px 27px;
  border: 1px solid $color-decor3;

  @media (min-width: $tablet-width) {
    padding: 25.7px 31px 24px 32px;
  }

  @media (min-width: $desktop-width) {
    flex-grow: 1;
    padding: 26px 30px 23px 27px;
  }
}

.product-card__name-wrapper {
  margin-bottom: 6px;
  color: $color-text-head;

  @media (min-width: $tablet-width) {
    margin-bottom: 6.5px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 6px;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.2;
  }
}

.product-card__name {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: $bold;
  font-size: $text-fontsize-2;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    font-size: $heading-fontsize-s2;
  }
}

.product-card__description {
  margin-top: 0;
  margin-bottom: auto;
  font-size: 13px;

  @media (min-width: $tablet-width) {
    font-size: $text-fontsize-1;
  }
}

.product-card__buy {
  display: flex;
  justify-content: space-between;
  margin-top: 17px;
  padding-top: 22.5px;
  border-top: 1px solid $color-decor3;

  @media (min-width: $tablet-width) {
    padding-top: 23.5px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 13px;
    padding-top: 23px;
  }
}

.product-card__price {
  font-size: $text-fontsize-1;
  font-weight: $bold;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    font-size: $text-fontsize-2;
  }
}

.product-card__button {
  margin: -17px -15px -15px 0;
  padding: 0;
  border: none;
  background-color: transparent;

  @media (min-width: $desktop-width) {
    margin-right: -13px;
  }

  &:hover {
    fill: $color-main1;
  }

  &:active {
    fill: $color-main1;
    opacity: 0.3;
  }
}

.product-card:nth-child(2) {
  .product-card__name-wrapper {
    @media (min-width: $tablet-width) {
      margin-bottom: 9.5px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 5.5px;
    }
  }
}

.product-card:nth-child(3) {
  .product-card__name-wrapper {
    margin-bottom: 10px;

    @media (min-width: $tablet-width) {
      margin-right: 45px;
      margin-bottom: 7.5px;
    }
  }

  .product-card__info {
    padding-top: 25px;
  }
}

.product-card__icon {
  padding: 15px;
  fill: rgba(0, 0, 0, 0.2);
}

.product-card__button:hover .product-card__icon {
  fill: $color-main1;
}

.product-card__button:active .product-card__icon {
  fill: $color-main1;
  opacity: 0.3;
}
