.products {
  padding-top: 30px;

  @media (min-width: $tablet-width) {
    padding-top: 66.5px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 57px;
    padding-top: 112px;
  }
}

.products__list {
  @include list-reset;
  margin-top: 0;
  margin-bottom: 0;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 316px 315px 316px;
    gap: 51.5px;
  }
}

.products__item {
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.products__item:last-child {
  @media (min-width: $tablet-width) {
    margin-bottom: 53px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}
