.promo__wrapper {
  position: relative;
}

.promo__heading {
  font-size: $heading-fontsize-m1;
  font-weight: $bold;
  color: $color-text-head;
}

.promo__note {
  line-height: 20px;
  font-weight: $bold;
  text-transform: uppercase;
  color: $color-main2;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
  }
}

.promo__card {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 110px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 110px;
  }
}

.promo__info {
  @media (min-width: $tablet-width) {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}

.promo__img {
  @media (min-width: $tablet-width) {
    grid-column: 2/3;
    grid-row: 1/3;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/3;
    grid-row: 1/3;
  }
}

.promo__text {
  font-size: $text-fontsize-1;
  line-height: 24px;
}

.promo__table {
  font-size: $text-fontsize-1;
  line-height: 24px;
}

.promo__feature {
  border-bottom: 1px solid $color-decor2;
}

.promo__description {
  border-bottom: 1px solid $color-decor2;
}

.promo__buy {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
    grid-row: 2/3;
  }
}

.promo__price {
  line-height: 24px;
  font-weight: 700;
}

.promo__button {
  @media (min-width: $tablet-width) {
    width: 292px;
  }

  @media (min-width: $desktop-width) {
    width: 292px;
  }
}
