.promo {
  position: relative;
  margin-bottom: 32px;
  padding-bottom: 42px;

  @media (min-width: $tablet-width) {
    margin-bottom: 56px;
    padding-bottom: 68px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 68px;
    padding-bottom: 96px;
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 6px;
    background-image: url("../img/zigzag-line.svg");
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      height: 17px;
    }

    @media (min-width: $desktop-width) {
      left: 50px;
      width: 1050px;
      height: 23px;
    }
  }
}

.promo__wrapper {
  position: relative;

  @media (min-width: $desktop-width) {
    padding-left: 225px;
  }
}

.promo__heading {
  margin-top: 0;
  margin-bottom: 4px;
  font-size: $heading-fontsize-m1;
  line-height: 30px;
  font-weight: $bold;
  color: $color-text-head;

  @media (min-width: $tablet-width) {
    margin-bottom: 37.5px;
    font-size: $heading-fontsize-l2;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    z-index: 1;
    margin-bottom: 36px;
    padding-top: 61px;
    font-size: $heading-fontsize-l3;
    line-height: 57px;
  }
}

.promo__note {
  margin-top: 0;
  margin-bottom: 18px;
  line-height: 20px;
  font-weight: $bold;
  text-transform: uppercase;
  color: $color-main2;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 6px;
    right: 63px;
    width: 100px;
    line-height: 17px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    top: 69px;
    left: 82px;
  }
}

.promo__card {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 110px;
    min-height: 418px;
  }
}

.promo__info {
  @media (min-width: $tablet-width) {
    grid-column: 1/2;
    grid-row: 1/2;
    padding-right: 42px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 58px;
  }
}

.promo__text {
  margin-top: 0;
  margin-bottom: 19px;
  font-size: $text-fontsize-1;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
    font-size: $text-fontsize-2;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 51px;
  }
}

.promo__table {
  margin-bottom: 28px;
  font-size: $text-fontsize-1;
  line-height: 40px;
  border-collapse: collapse;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
  }
}

.promo__feature,
.promo__description {
  padding: 0;
  border-bottom: 1px solid $color-decor3;
}

.promo__feature {
  padding-right: 30px;

  @media (min-width: $tablet-width) {
    padding-right: 29px;
  }
}

.promo__description {
  width: 100%;
  box-sizing: border-box;
}

.promo__img-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    grid-column: 2/3;
    grid-row: 1/3;
    margin-bottom: 0;
    padding-top: 13px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -153px;
    padding-top: 0;
  }
}

.promo__img {
  display: block;
  width: 260px;
  height: 315px;

  @media (min-width: $tablet-width) {
    width: 334px;
    height: 404px;
  }

  @media (min-width: $desktop-width) {
    width: 525px;
    height: 636px;
  }
}

.promo__buy {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    grid-column: 1/2;
    grid-row: 2/3;
    padding-right: 42px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 58px;
  }
}

.promo__price {
  align-self: center;
  margin-bottom: 24px;
  line-height: 24px;
  font-weight: 700;

  @media (min-width: $tablet-width) {
    margin-bottom: 33px;
    font-size: $heading-fontsize-s2;
  }
}

.promo__button {
  @media (min-width: $tablet-width) {
    width: 100%;
    box-sizing: border-box;
    font-size: $text-fontsize-2;
  }
}
