.reviews__heading {
  margin: 0;
  font-size: 25px;
  font-weight: 700;
  color: #000000;
}
.reviews__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.reviews__item {
  margin: 0;
}
.reviews__text {
  margin: 0;
  font-size: 15px;
}
.reviews__author {
  font-style: normal;
}
.reviews__author-name {
  line-height: 24px;
  color: #000000;
}
