.site-list {
  @include list-reset;
  display: flex;
  flex-direction: column;
  margin-top: 0;
  margin-bottom: 0;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 20px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
  }
}

.site-list--bg-color {
  @media (min-width: $tablet-width) {
    background-color: $color-bg;
  }

  @media (min-width: $desktop-width) {
    background-color: transparent;
  }
}

.site-list__item {
  padding-right: 30px;
  padding-left: 30px;
  box-shadow: $box-shadow;

  @media (min-width: $tablet-width) {
    margin-right: 27px;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
    line-height: 24px;
    box-shadow: none;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    margin-right: 0;
    padding-right: 0;
    padding-left: 0;
    box-shadow: none;
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
  }
}

.site-list__item:first-child {
  @media (min-width: $tablet-width) {
    margin-left: 50px;
  }
}

.site-list__item:nth-child(odd) {
  @media (min-width: $desktop-width) {
    margin-left: 0;
    padding-left: 50px;
    padding-right: 30px;
    border-right: solid 1px rgba(0, 0, 0, 0.1);
  }
}

.site-list__item:nth-child(2n) {
  @media (min-width: $desktop-width) {
    margin-right: 0;
    padding-left: 35px;
  }
}

.site-list__link {
  padding-left: 46px;
  line-height: 79px;
  font-weight: $bold;
  color: $color-text-head;

  @media (min-width: $tablet-width) {
    padding-left: 0;
    font-size: $text-fontsize-1;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 32px;
    padding-bottom: 31px;
    font-size: $text-fontsize-2;
  }
}
