.socials {
  @include list-reset;
  align-self: stretch;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 0;
  border-bottom: 1px solid $color-decor4;

  @media (min-width: $tablet-width) {
    align-self: center;
    border-bottom: none;
  }
}

.socials__item {
  display: flex;
  align-items: center;
  margin-right: 41px;
  margin-bottom: 27px;

  @media (min-width: $tablet-width) {
    margin-right: 40px;
    margin-bottom: 0;
  }
}

.socials__item:last-child {
  margin-right: 0;
}
