.user-list {
  @include list-reset;
  display: flex;
  flex-direction: column;
  margin-top: 0;
  margin-bottom: 0;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.user-list__item {
  padding-right: 30px;
  padding-left: 30px;
  line-height: 24px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);

  @media (min-width: $tablet-width) {
    flex-grow: 1;
    display: flex;
    padding-right: 50px;
    padding-left: 0;
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
    border-left: solid 1px rgba(0, 0, 0, 0.1);
  }
}

.user-list__item:first-child {
  @media (min-width: $tablet-width) {
    flex-grow: 0;
    width: 82px;
    padding-right: 0;
  }
}

.user-list__link {
  position: relative;
  display: block;
  align-items: center;
  padding: 27px 0 27px 46px;
  line-height: 24px;
  font-weight: $bold;
  color: $color-text-head;

  @media (min-width: $tablet-width) {
    padding: 33px 0 30px 82px;
    line-height: 24px;
  }
}

.user-list__item:first-child .user-list__link {
  @media (min-width: $tablet-width) {
    padding-left: 0;
    font-size: 0;
  }
}

.user-list__link:hover .user-list__text {
  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.user-list__icon {
  position: absolute;
  fill: rgb(0, 0, 0, 0.2);

  &--search {
    top: 31px;
    left: 2px;

    @media (min-width: $tablet-width) {
      top: 36px;
      left: 33px;
    }
  }

  &--cart {
    top: 30px;
    left: 0;

    @media (min-width: $tablet-width) {
      top: 35px;
      left: 31px;
    }
  }
}

.user-list__link:hover .user-list__icon {
  fill: $color-main1;
}

.user-list__link:active .user-list__icon {
  fill: $color-main1;
  opacity: 0.3;
}
