.video {
  margin-bottom: 58px;

  @media (min-width: $tablet-width) {
    margin-bottom: 64px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 105px;
  }
}

.video__wrapper {
  display: flex;
  flex-direction: column;
  border: 1px solid $color-decor3;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 683px 367px;
  }
}

.video_info {
  display: contents;

  @media (min-width: $tablet-width) {
    display: block;
    padding: 41px 42px 46px;
  }

  @media (min-width: $desktop-width) {
    padding: 96px 36px 60px 78px;
  }
}

.video__heading {
  position: relative;
  order: -2;
  margin-top: 0;
  margin-bottom: 26.5px;
  padding: 21.5px 13px 0 91px;
  font-size: $text-fontsize-2;
  line-height: 24px;
  font-weight: $bold;
  color: $color-text-head;

  @media (min-width: $tablet-width) {
    margin-bottom: 24.5px;
    padding: 0 41px 0 65px;
    font-size: $heading-fontsize-s2;

    br {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 27.5px;
    padding: 0 110px 0 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: 35px;
    left: 32px;
    width: 32px;
    height: 22px;
    background-image: url("../../img/video-icon.svg");
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      top: 0;
      left: 0;
    }

    @media (min-width: $desktop-width) {
      top: -49px;
      left: 0;
    }
  }
}

.video__description {
  margin-top: 0;
  margin-bottom: 41px;
  padding: 0 10px 0 34px;
  font-size: 13px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    margin-bottom: 40.5px;
    padding: 0;
    font-size: $text-fontsize-1;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 51.5px;
  }
}

.video__button {
  margin: 0 34px 33px;

  @media (min-width: $tablet-width) {
    width: 100%;
    margin: 0;
    font-size: $text-fontsize-2;
    box-sizing: border-box;
  }
}

.video__player {
  position: relative;
  order: -1;
  display: flex;
  justify-content: center;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.video__watch {
  display: block;
  width: 260px;
  height: 150px;

  @media (min-width: $tablet-width) {
    width: 668px;
    height: 455px;
  }

  @media (min-width: $desktop-width) {
    width: 683px;
    height: 455px;
  }
}

.video__button-play {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 101px;
  height: 77px;
  background-color: transparent;
  background-image: url("../../img/button-play.svg");
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  transform: translate(-50%, -50%);

  @media (min-width: $tablet-width) {
    width: 102px;
    height: 78px;
  }

  @media (min-width: $desktop-width) {
    width: 101px;
    height: 77px;
  }
}
