$color-text-head: #000000;
$color-text-general: #444444;
$color-main1: #63d1bb;
$color-main2: #56c3b2;
$color-decor1: #62d1ba;
$color-footer: #46c1ae;
$color-origin: #ffffff;
$color-decor2: #b39797;
$color-decor3: #ececec;
$color-decor4: #e5e5e5;
$color-shadow-card: #c6c6c6;
$color-header-bg: #f9f9f9;
$color-bg: #f1f1f1;
