$text-fontsize-1: 15px;
$text-fontsize-2: 17px;
$heading-fontsize-s1: 18px;
$heading-fontsize-m1: 25px;
$heading-fontsize-l1: 27px;

$bold: 700;
$normal: 400;

$box-shadow: 0 1px 0 $color-shadow, inset 0 1px 0 $color-shadow;
