$tablet-width: 768px;
$desktop-width: 1150px;
$mobile-width: 320px;
$mobile-width-only: 767px;

$text-fontsize-1: 15px;
$text-fontsize-2: 17px;
$heading-fontsize-s1: 18px;
$heading-fontsize-s2: 20px;
$heading-fontsize-m1: 25px;
$heading-fontsize-l1: 27px;
$heading-fontsize-l2: 43px;
$heading-fontsize-l3: 53px;

$bold: 700;
$normal: 400;

$box-shadow: 0 1px 0 #ececec, inset 0 1px 0 #ececec;
